.grand-title {
  font-size: 50px;
}

.stuff {
  background-color: #1E1F1E;
  width: 80vw;
  margin-top: -2.4%;
  margin-bottom: -2.1%;
  z-index: 100;
  color: white;
}

body {
  background-image: url("https://ak.picdn.net/shutterstock/videos/1072333316/thumb/1.jpg?ip=x480");
}

img {
  transform: rotate(0deg);
}

.link:hover {
  width: 40vw;
  height: 10vh;
  background-color: #777A7E;
  color: #F2DA2C;
  display: flex;
  align-content: center;
  float: center;
  justify-content: space-evenly;
  border: 2px solid  
}

a {
  text-decoration: none;
  color: white;
  width: 40vw;
}

.images {
  display: flex;
  justify-content: space-evenly;
}
